<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(area) }}
    {{ drawChart(area2) }}
    {{ drawChart(area3) }}
    {{ drawChart(area4) }}
</head>
<body>
    <div id="area"></div>
    <div id="area2"></div>
    <div id="area3"></div>
    <div id="area4"></div>
</body>
</html>
