<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(bar, 'bar') }}
    {{ drawChart(bar2, 'bar2') }}
    {{ drawChart(bar3, 'bar3') }}
</head>
<body>
    <div id="bar"></div>
    <div id="bar2"></div>
    <div id="bar3"></div>
</body>
</html>
