<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(bubble, 'bubble') }}
    {{ drawChart(bubble2, 'bubble2') }}
</head>
<body>
    <div id="bubble"></div>
    <div id="bubble2"></div>
</body>
</html>
