<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(histo) }}
    {{ drawChart(histo2) }}
    {{ drawChart(histo3) }}
</head>
<body>
    <div id="histo"></div>
    <div id="histo2"></div>
    <div id="histo3"></div>
</body>
</html>
