<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {{ drawChart(piechart) }}
    {{ drawChart(piechartArrayTable) }}
    {{ drawChart(piechart3D) }}
</head>
<body>
    <div id="piechart"></div>

    <div id="piechartArrayTable"></div>

    <div id="piechart3D"></div>
</body>
</html>
