parameters:
    level: 8
    paths:
        - .
    excludePaths:
        - %currentWorkingDirectory%/Tests
        - %currentWorkingDirectory%/vendor
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
